<div class="edit">
  <h1>Editing Book</h1>
  <%= form_with model: @book do |f| %>
    <div class="item item1">
      <p>Title</p>
      <div>
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="item item2">
      <p>Body</p>
      <div>
        <%= f.text_area :body %>
      </div>
    </div>
    <%= f.submit 'Update Book' %>
    <div class="link">
      <div class="link1">
        <%= link_to "Show", book_path(@book) %>
      </div>
      <div class="link2">
        <%= link_to "Back", books_path(@book) %>
      </div>
    </div>
  <% end %>
</div>

