<div class="index">
  <h2>Books</h2>
  <ul>
    <li>Title</li>
    <li>Body</li>
  </ul>
  <div class="index-wrapper">
    <div class="index-box">
      <% @books.each do |book| %>
        <div class="title">
          <span><%= book.title %></span>
        </div>
        <div class="body">
          <span><%= book.body %></span>
        </div>
        <div class="link">
          <%= link_to "Show", book_path(@books) %>
        </div>
        <div class="link">
           <%= link_to "Edit", edit_book_path(@books) %>
        </div>
        <div class="link">
          <%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm" => "Are you sure？" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="new">
  <h2>New book</h2>
  <div class="box-wrapper">
    <%= form_with model: @book do |f| %>
      <div class="box">
        <p>Title</p>
        <%= f.text_field :title %>
      </div>
      <div class="box">
        <hp>Body</p>
        <%= f.text_area :body %>
      </div>
      <%= f.submit 'Create Book' %>
    <% end %>
  </div>
</div>
